<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zex.cloud.haircut.mapper.AmRegionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zex.cloud.haircut.entity.AmRegion">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="parent_id" property="parentId" />
        <result column="ad_code" property="adCode" />
        <result column="latitude" property="latitude" />
        <result column="longitude" property="longitude" />
    </resultMap>
    <select id="detailByCode" resultType="com.zex.cloud.haircut.response.RegionDetail">
     SELECT a.ad_code AS districtCode, a.name, b.ad_code AS cityCode, b.name, c.ad_code AS provinceCode, c.name
               FROM am_region a, am_region b, am_region  c
               WHERE a.ad_code = #{adCode}
               AND a.level=3
               AND a.parent_id = b.id
               AND b.parent_id = c.id
    </select>
    <select id="home" resultType="com.zex.cloud.haircut.response.AmRegionTreeVO">
        SELECT am_region.id,  am_region.`name`  , am_region.ad_code  ,am_region.parent_id ,am_region.level  , count(sm_shop.id  )   shop_count FROM am_region
        LEFT JOIN sm_shop  on  sm_shop.district_code = am_region.ad_code  OR  sm_shop.city_code = am_region.ad_code
        WHERE level <![CDATA[
        <=
        ]]> 3 and level > 1
        GROUP BY am_region.id
    </select>

</mapper>
