<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zex.cloud.haircut.mapper.HmStylistServiceRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zex.cloud.haircut.entity.HmStylistServiceRelation">
        <id column="id" property="id" />
        <result column="service_id" property="serviceId" />
        <result column="stylist_id" property="stylistId" />
        <result column="male_price" property="malePrice" />
        <result column="female_price" property="femalePrice" />
        <result column="create_at" property="createAt" />
    </resultMap>
    <select id="getMinAmount" resultType="java.math.BigDecimal">
        SELECT IF( MIN(male_price) > min(female_price) ,min(female_price) ,MIN(male_price)) min_price
        FROM hm_stylist_service_relation  hr
        left join hm_stylist  hs ON  hs.id =  hr.stylist_id
        <where>
            <if test="shopId != null">
                and hs.shop_id = #{shopId}
            </if>
            <if test="stylistId != null">
                and hr.stylist_id = #{stylistId}
            </if>
            <if test="serviceId != null">
                and hr.service_id = #{serviceId}
            </if>
        </where>
    </select>

</mapper>
