<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zex.cloud.haircut.mapper.OmOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zex.cloud.haircut.entity.OmOrder">
        <id column="id" property="id" />
        <result column="order_type" property="orderType" />
        <result column="pay_status" property="payStatus" />
        <result column="pay_at" property="payAt" />
        <result column="user_id" property="userId" />
        <result column="amount" property="amount" />
        <result column="channel_type" property="channelType" />
        <result column="status" property="status" />
        <result column="subject" property="subject" />
        <result column="body" property="body" />
        <result column="ip_address" property="ipAddress" />
        <result column="create_at" property="createAt" />
        <result column="expire_at" property="expireAt" />
        <result column="third_party_id" property="thirdPartyId" />
    </resultMap>

</mapper>
