<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zex.cloud.haircut.mapper.OmShopTransactionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zex.cloud.haircut.entity.OmShopTransaction">
        <id column="id" property="id" />
        <result column="target_id" property="targetId" />
        <result column="shop_id" property="shopId" />
        <result column="amount" property="amount" />
        <result column="type" property="type" />
        <result column="incr_status" property="incrStatus" />
        <result column="create_at" property="createAt" />
    </resultMap>
    <select id="balance" resultType="java.math.BigDecimal">
        select SUM(inc_amount) - SUM(sub_amount) amount
        from (
        select SUM(amount) inc_amount, 0 sub_amount
        from om_shop_transaction
        <where>
            incr_status is true
            <if test="shopId != null">and shop_id = #{shopId}</if>
            <if test="startAt != null">and create_at >= #{startAt}</if>
            <if test="endAt != null">and create_at <![CDATA[<=]]> #{startAt}</if>
            <if test="incrStatus != null">and incr_status = #{incrStatus}</if>
            <if test="type != null">and type = #{type}</if>
        </where>
        union all
        select 0 inc_amount, SUM(amount) sub_amount
        from om_shop_transaction
        <where>
            incr_status is false
            <if test="shopId != null">and shop_id = #{shopId}</if>
            <if test="startAt != null">and create_at >= #{startAt}</if>
            <if test="endAt != null">and create_at <![CDATA[<=]]> #{startAt}</if>
            <if test="incrStatus != null">and incr_status = #{incrStatus}</if>
            <if test="type != null">and type = #{type}</if>
        </where>
        )as t

    </select>
    <select id="rewardPage" resultType="com.zex.cloud.haircut.vo.OmShopTransactionRewardVO">
            select ost.id,
                   ost.target_id,
                   ost.shop_id,
                   ost.amount,
                   ost.type,
                   ost.incr_status,
                   ost.create_at ,
                   su.avatar avatar,
                   su.nickname nickname
            from   om_shop_transaction ost
            left join  om_user_reward our on  our.id = ost.target_id  and ost.type = 4
            left join  sy_user su on su.id =  our.user_id
            <where>
                ost.shop_id = #{shopId}
                and ost.type = 4
                <if test="startAt != null">and ost.create_at >= #{startAt}</if>
                <if test="endAt != null">and ost.create_at <![CDATA[<=]]> #{startAt}</if>
            </where>




    </select>
</mapper>
