<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zex.cloud.haircut.mapper.SyGroupRoleRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zex.cloud.haircut.entity.SyGroupRoleRel">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="role_id" property="roleId" />
    </resultMap>
    <select id="getRoleIdsByGroupId" resultType="java.lang.Long">
        select  role_id from   sy_group_role_rel where  group_id = #{groupId}
    </select>

</mapper>
