<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zex.cloud.haircut.mapper.SyPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zex.cloud.haircut.entity.SyPermission">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="method_type" property="methodType" />
        <result column="seq" property="seq" />
        <result column="remark" property="remark" />
        <result column="create_at" property="createAt" />
        <result column="operator_id" property="operatorId" />
        <result column="operator_ip" property="operatorIp" />
        <result column="operator_at" property="operatorAt" />
        <result column="module_id" property="moduleId" />
    </resultMap>
    <select id="getRoleNamesByPermissionId" resultType="java.lang.String">
        select name from  sy_role
        left join sy_role_permission_rel srpr on sy_role.id = srpr.role_id
        where srpr.permission_id = #{permissionId}
    </select>

</mapper>
