<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zex.cloud.haircut.mapper.SyUserRoleRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zex.cloud.haircut.entity.SyUserRoleRel">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="user_id" property="userId"/>
    </resultMap>
    <select id="queryRolesByUserId" resultType="java.lang.String">

        select sr.name
        from sy_role sr
                 left join sy_user_role_rel sur on sur.role_id = sr.id
        where sur.user_id = #{userId}

    </select>
    <select id="getRoleIdsByUserId" resultType="java.lang.Long">
        select role_id from sy_user_role_rel where  user_id = #{userId}
    </select>

</mapper>
