<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zex.cloud.hair.mapper.SyUserExtensionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zex.cloud.haircut.entity.SyUserExtension">
        <id column="id" property="id" />
        <result column="union_id" property="unionId" />
        <result column="user_id" property="userId" />
        <result column="birth_day" property="birthDay" />
        <result column="job" property="job" />
        <result column="education" property="education" />
        <result column="face" property="face" />
        <result column="hair_height" property="hairHeight" />
        <result column="hair_quality" property="hairQuality" />
        <result column="hair_style" property="hairStyle" />
        <result column="idol" property="idol" />
    </resultMap>

</mapper>
